.tr-workarea.frame {
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
}

.tr-message-log.frame {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
}

.tr-pad-small {
    padding: 3px;
}

.tr-pad-normal {
    padding: 6px;
}

.tr-pad-large {
    padding: 12px;
}

.tr-button-box,
.tr-dialog-content {
    margin: 6px;
}

.tr-small {
    font-size: small;
}

.tr-workarea row {
    margin: 0;
    padding: 3px;
}

row .tr-list-item label {
    margin: 0;
    padding: 0;
}

row .tr-list-item.tr-compact progressbar trough {
    min-width: 50px;
}

row .tr-list-item.tr-compact progressbar trough,
row .tr-list-item.tr-compact progressbar progress {
    min-height: 3px;
}

row .tr-list-item.tr-compact .tr-status {
    margin-left: 3px;
    margin-right: 3px;
}

row .tr-list-item.tr-transfer-down progressbar progress {
    background-image: none;
    background-color: steelblue;
    border-color: steelblue;
}

row .tr-list-item.tr-transfer-up progressbar progress {
    background-image: none;
    background-color: forestgreen;
    border-color: forestgreen;
}

row .tr-list-item.tr-transfer-idle progressbar progress {
    background-image: none;
    background-color: silver;
    border-color: silver;
}

row:not(:selected) .tr-list-item.tr-error label {
    color: red;
}
